%h1{class: 'text-center'} Edit Article 
= form_for  @article do |f|
	.col-sm-offset-3.col-sm-6
		= render 'shared/error_messages', object: f.object 
	=render partial: 'form', locals: {f: f}
	.form-group
		.col-sm-offset-3.col-sm-6
			= f.submit "Update", class: 'btn btn-primary btn-block'
